<a href="https://colab.research.google.com/github/durand-kwok/ColabSnowFlake/blob/main/Snowflake_Test_April29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install snowflake-connector-python

Collecting snowflake-connector-python
  Downloading snowflake_connector_python-2.7.7-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.5 MB)
     |████████████████████████████████| 16.5 MB 190 kB/s
Collecting pyOpenSSL<22.0.0,>=16.2.0
  Downloading pyOpenSSL-21.0.0-py2.py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 1.5 MB/s
Collecting cryptography<37.0.0,>=3.1.0
  Downloading cryptography-36.0.2-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 29.4 MB/s
Collecting pyjwt<3.0.0
  Downloading PyJWT-2.3.0-py3-none-any.whl (16 kB)
Collecting pycryptodomex!=3.5.0,<4.0.0,>=3.2
  Downloading pycryptodomex-3.14.1-cp35-abi3-manylinux2010_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 41.1 MB/s
Collecting oscrypto<2.0.0
  Downloading oscrypto-1.3.0-py2.py3-none-any.whl (194 kB)
     |████████████████████████████████| 194 kB 45.4 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2022.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2.0.12)
Collecting asn1crypto<2.0.0,>0.24.0
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     |████████████████████████████████| 105 kB 29.5 MB/s
Requirement already satisfied: setuptools>34.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (57.4.0)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2.23.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2021.10.8)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.21)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyOpenSSL<22.0.0,>=16.2.0->snowflake-connector-python) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->snowflake-connector-python) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->snowflake-connector-python) (3.0.4)
Installing collected packages: cryptography, asn1crypto, pyOpenSSL, pyjwt, pycryptodomex, oscrypto, snowflake-connector-python
Successfully installed asn1crypto-1.5.1 cryptography-36.0.2 oscrypto-1.3.0 pyOpenSSL-21.0.0 pycryptodomex-3.14.1 pyjwt-2.3.0 snowflake-connector-python-2.7.7

In [2]:
import pandas as pd
import numpy as np
import matplotlib as pet

In [3]:
import snowflake.connector
conn = snowflake.connector.connect(user='DURANDKWOK', password = 'Durand88@', account='mwb44297.us-east-1')

In [5]:
sql = 'select * from snowflake_sample_data.tpch_sf1.lineitem limit 100'
res = conn.cursor().execute(sql).fetchall()

In [7]:
df = pd.read_sql(sql, conn)

In [12]:
df.head(5)

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,1800001,57438,9944,1,38.0,53026.34,0.09,0.08,A,F,1994-11-04,1994-12-07,1994-11-05,TAKE BACK RETURN,RAIL,oost blithely fluffily ex
1,1800001,153298,844,2,3.0,4053.87,0.08,0.00,A,F,1995-01-19,1994-11-05,1995-01-28,NONE,RAIL,"le ironic, regular packages. pendi"
2,1800001,74447,9462,3,45.0,63964.80,0.10,0.07,A,F,1994-12-03,1994-11-26,1994-12-14,TAKE BACK RETURN,SHIP,s above the slyly pending reques
3,1800001,21679,6684,4,36.0,57624.12,0.09,0.02,A,F,1994-11-10,1994-12-19,1994-11-25,DELIVER IN PERSON,REG AIR,ts hang ca
4,1800001,143033,5548,5,47.0,50573.41,0.01,0.05,R,F,1995-01-07,1994-11-09,1995-01-15,COLLECT COD,MAIL,lar instructions use furiously regular p

In [17]:
df.describe

<bound method NDFrame.describe of     L_ORDERKEY  L_PARTKEY  L_SUPPKEY  L_LINENUMBER  L_QUANTITY  \
0      1800001      57438       9944             1        38.0
1      1800001     153298        844             2         3.0
2      1800001      74447       9462             3        45.0
3      1800001      21679       6684             4        36.0
4      1800001     143033       5548             5        47.0
..         ...        ...        ...           ...         ...
95     1800099     133463       1003             6        46.0
96     1800100       9744       2245             1        48.0
97     1800101      88142       3159             1        18.0
98     1800101     187360       4915             2        23.0
99     1800102       5546        547             1         5.0

    L_EXTENDEDPRICE  L_DISCOUNT  L_TAX L_RETURNFLAG L_LINESTATUS  L_SHIPDATE  \
0          53026.34        0.09   0.08            A            F  1994-11-04
1           4053.87        0.08   0.00            A            F  1995-01-19
2          63964.80        0.10   0.07            A            F  1994-12-03
3          57624.12        0.09   0.02            A            F  1994-11-10
4          50573.41        0.01   0.05            R            F  1995-01-07
..              ...         ...    ...          ...          ...         ...
95         68837.16        0.09   0.06            R            F  1994-02-16
96         79379.52        0.08   0.05            R            F  1995-01-18
97         20342.52        0.06   0.04            N            O  1997-02-28
98         33289.28        0.10   0.06            N            O  1997-03-11
99          7257.70        0.08   0.06            R            F  1994-10-21

   L_COMMITDATE L_RECEIPTDATE     L_SHIPINSTRUCT L_SHIPMODE  \
0    1994-12-07    1994-11-05   TAKE BACK RETURN       RAIL
1    1994-11-05    1995-01-28               NONE       RAIL
2    1994-11-26    1994-12-14   TAKE BACK RETURN       SHIP
3    1994-12-19    1994-11-25  DELIVER IN PERSON    REG AIR
4    1994-11-09    1995-01-15        COLLECT COD       MAIL
..          ...           ...                ...        ...
95   1994-02-02    1994-03-15        COLLECT COD    REG AIR
96   1995-01-19    1995-02-03               NONE       RAIL
97   1997-04-14    1997-03-06   TAKE BACK RETURN        FOB
98   1997-04-16    1997-04-07   TAKE BACK RETURN      TRUCK
99   1994-11-27    1994-10-31        COLLECT COD        FOB

                                      L_COMMENT
0                     oost blithely fluffily ex
1            le ironic, regular packages. pendi
2              s above the slyly pending reques
3                                    ts hang ca
4      lar instructions use furiously regular p
..                                          ...
95  iously regular packages detect permanently.
96                               fully; unusual
97               lyly regular accounts. slyly r
98                eve furiously. carefully care
99                       slyly ironic pinto bea

[100 rows x 16 columns]>

In [19]:
df_t = df.transpose()

In [20]:
df_t.describe

<bound method NDFrame.describe of                                         0   \
L_ORDERKEY                         1800001
L_PARTKEY                            57438
L_SUPPKEY                             9944
L_LINENUMBER                             1
L_QUANTITY                            38.0
L_EXTENDEDPRICE                   53026.34
L_DISCOUNT                            0.09
L_TAX                                 0.08
L_RETURNFLAG                             A
L_LINESTATUS                             F
L_SHIPDATE                      1994-11-04
L_COMMITDATE                    1994-12-07
L_RECEIPTDATE                   1994-11-05
L_SHIPINSTRUCT            TAKE BACK RETURN
L_SHIPMODE                            RAIL
L_COMMENT        oost blithely fluffily ex

                                                 1   \
L_ORDERKEY                                  1800001
L_PARTKEY                                    153298
L_SUPPKEY                                       844
L_LINENUMBER                                      2
L_QUANTITY                                      3.0
L_EXTENDEDPRICE                             4053.87
L_DISCOUNT                                     0.08
L_TAX                                           0.0
L_RETURNFLAG                                      A
L_LINESTATUS                                      F
L_SHIPDATE                               1995-01-19
L_COMMITDATE                             1994-11-05
L_RECEIPTDATE                            1995-01-28
L_SHIPINSTRUCT                                 NONE
L_SHIPMODE                                     RAIL
L_COMMENT        le ironic, regular packages. pendi

                                               2                  3   \
L_ORDERKEY                                1800001            1800001
L_PARTKEY                                   74447              21679
L_SUPPKEY                                    9462               6684
L_LINENUMBER                                    3                  4
L_QUANTITY                                   45.0               36.0
L_EXTENDEDPRICE                           63964.8           57624.12
L_DISCOUNT                                    0.1               0.09
L_TAX                                        0.07               0.02
L_RETURNFLAG                                    A                  A
L_LINESTATUS                                    F                  F
L_SHIPDATE                             1994-12-03         1994-11-10
L_COMMITDATE                           1994-11-26         1994-12-19
L_RECEIPTDATE                          1994-12-14         1994-11-25
L_SHIPINSTRUCT                   TAKE BACK RETURN  DELIVER IN PERSON
L_SHIPMODE                                   SHIP            REG AIR
L_COMMENT        s above the slyly pending reques         ts hang ca

                                                       4   \
L_ORDERKEY                                        1800001
L_PARTKEY                                          143033
L_SUPPKEY                                            5548
L_LINENUMBER                                            5
L_QUANTITY                                           47.0
L_EXTENDEDPRICE                                  50573.41
L_DISCOUNT                                           0.01
L_TAX                                                0.05
L_RETURNFLAG                                            R
L_LINESTATUS                                            F
L_SHIPDATE                                     1995-01-07
L_COMMITDATE                                   1994-11-09
L_RECEIPTDATE                                  1995-01-15
L_SHIPINSTRUCT                                COLLECT COD
L_SHIPMODE                                           MAIL
L_COMMENT        lar instructions use furiously regular p

                                                  5   \
L_ORDERKEY                                   1800001
L_PARTKEY                                     151098
L_SUPPKEY                                       6129
L_LINENUMBER                                       6
L_QUANTITY                                      10.0
L_EXTENDEDPRICE                              11490.9
L_DISCOUNT                                      0.08
L_TAX                                           0.08
L_RETURNFLAG                                       R
L_LINESTATUS                                       F
L_SHIPDATE                                1995-01-13
L_COMMITDATE                              1994-12-05
L_RECEIPTDATE                             1995-02-07
L_SHIPINSTRUCT                                  NONE
L_SHIPMODE                                      RAIL
L_COMMENT        r packages was furiously. attainmen

                                                 6   \
L_ORDERKEY                                  1800001
L_PARTKEY                                     92830
L_SUPPKEY                                       358
L_LINENUMBER                                      7
L_QUANTITY                                     44.0
L_EXTENDEDPRICE                            80204.52
L_DISCOUNT                                     0.05
L_TAX                                          0.04
L_RETURNFLAG                                      R
L_LINESTATUS                                      F
L_SHIPDATE                               1994-10-16
L_COMMITDATE                             1994-11-17
L_RECEIPTDATE                            1994-11-12
L_SHIPINSTRUCT                    DELIVER IN PERSON
L_SHIPMODE                                      FOB
L_COMMENT        ckages use fluffily furiously regu

                                               7                         8   \
L_ORDERKEY                                1800002                   1800003
L_PARTKEY                                  183338                    181234
L_SUPPKEY                                    5857                      8789
L_LINENUMBER                                    1                         1
L_QUANTITY                                    4.0                       8.0
L_EXTENDEDPRICE                           5685.32                  10521.84
L_DISCOUNT                                   0.09                      0.02
L_TAX                                        0.07                       0.0
L_RETURNFLAG                                    R                         A
L_LINESTATUS                                    F                         F
L_SHIPDATE                             1993-07-09                1992-03-18
L_COMMITDATE                           1993-08-13                1992-04-12
L_RECEIPTDATE                          1993-07-24                1992-03-28
L_SHIPINSTRUCT                               NONE          TAKE BACK RETURN
L_SHIPMODE                                   MAIL                      RAIL
L_COMMENT        ost until the excuses. final dep  ecial, even orbits nag f

                                                         9   ...  \
L_ORDERKEY                                          1800003  ...
L_PARTKEY                                            190919  ...
L_SUPPKEY                                              8477  ...
L_LINENUMBER                                              2  ...
L_QUANTITY                                             18.0  ...
L_EXTENDEDPRICE                                    36178.38  ...
L_DISCOUNT                                             0.09  ...
L_TAX                                                  0.07  ...
L_RETURNFLAG                                              R  ...
L_LINESTATUS                                              F  ...
L_SHIPDATE                                       1992-03-12  ...
L_COMMITDATE                                     1992-03-13  ...
L_RECEIPTDATE                                    1992-04-09  ...
L_SHIPINSTRUCT                                  COLLECT COD  ...
L_SHIPMODE                                              AIR  ...
L_COMMENT        riously even theodolites. blithely regular  ...

                               90                       91  \
L_ORDERKEY                1800099                  1800099
L_PARTKEY                   60910                   107534
L_SUPPKEY                     911                     5065
L_LINENUMBER                    1                        2
L_QUANTITY                   21.0                     12.0
L_EXTENDEDPRICE          39289.11                 18498.36
L_DISCOUNT                   0.06                     0.03
L_TAX                        0.07                      0.0
L_RETURNFLAG                    A                        R
L_LINESTATUS                    F                        F
L_SHIPDATE             1994-01-29               1993-12-26
L_COMMITDATE           1994-01-29               1994-02-04
L_RECEIPTDATE          1994-02-23               1994-01-25
L_SHIPINSTRUCT   TAKE BACK RETURN              COLLECT COD
L_SHIPMODE                    FOB                     RAIL
L_COMMENT        ke slyly! fluffi  egular dinos. blithely

                                          92  \
L_ORDERKEY                           1800099
L_PARTKEY                             113233
L_SUPPKEY                                767
L_LINENUMBER                               3
L_QUANTITY                              27.0
L_EXTENDEDPRICE                     33648.21
L_DISCOUNT                              0.07
L_TAX                                   0.03
L_RETURNFLAG                               R
L_LINESTATUS                               F
L_SHIPDATE                        1994-01-27
L_COMMITDATE                      1994-01-21
L_RECEIPTDATE                     1994-02-01
L_SHIPINSTRUCT              TAKE BACK RETURN
L_SHIPMODE                              MAIL
L_COMMENT        unts wake slyly above the b

                                                       93  \
L_ORDERKEY                                        1800099
L_PARTKEY                                           95887
L_SUPPKEY                                            8397
L_LINENUMBER                                            4
L_QUANTITY                                           39.0
L_EXTENDEDPRICE                                  73432.32
L_DISCOUNT                                           0.08
L_TAX                                                0.07
L_RETURNFLAG                                            A
L_LINESTATUS                                            F
L_SHIPDATE                                     1994-02-05
L_COMMITDATE                                   1994-02-15
L_RECEIPTDATE                                  1994-02-24
L_SHIPINSTRUCT                                COLLECT COD
L_SHIPMODE                                           SHIP
L_COMMENT        , final deposits according to the ironic

                                                 94  \
L_ORDERKEY                                  1800099
L_PARTKEY                                    160108
L_SUPPKEY                                      5141
L_LINENUMBER                                      5
L_QUANTITY                                     34.0
L_EXTENDEDPRICE                             39715.4
L_DISCOUNT                                     0.01
L_TAX                                           0.0
L_RETURNFLAG                                      A
L_LINESTATUS                                      F
L_SHIPDATE                               1994-02-11
L_COMMITDATE                             1994-02-03
L_RECEIPTDATE                            1994-02-13
L_SHIPINSTRUCT                    DELIVER IN PERSON
L_SHIPMODE                                      FOB
L_COMMENT        lar requests. carefully even packa

                                                          95              96  \
L_ORDERKEY                                           1800099         1800100
L_PARTKEY                                             133463            9744
L_SUPPKEY                                               1003            2245
L_LINENUMBER                                               6               1
L_QUANTITY                                              46.0            48.0
L_EXTENDEDPRICE                                     68837.16        79379.52
L_DISCOUNT                                              0.09            0.08
L_TAX                                                   0.06            0.05
L_RETURNFLAG                                               R               R
L_LINESTATUS                                               F               F
L_SHIPDATE                                        1994-02-16      1995-01-18
L_COMMITDATE                                      1994-02-02      1995-01-19
L_RECEIPTDATE                                     1994-03-15      1995-02-03
L_SHIPINSTRUCT                                   COLLECT COD            NONE
L_SHIPMODE                                           REG AIR            RAIL
L_COMMENT        iously regular packages detect permanently.  fully; unusual

                                             97  \
L_ORDERKEY                              1800101
L_PARTKEY                                 88142
L_SUPPKEY                                  3159
L_LINENUMBER                                  1
L_QUANTITY                                 18.0
L_EXTENDEDPRICE                        20342.52
L_DISCOUNT                                 0.06
L_TAX                                      0.04
L_RETURNFLAG                                  N
L_LINESTATUS                                  O
L_SHIPDATE                           1997-02-28
L_COMMITDATE                         1997-04-14
L_RECEIPTDATE                        1997-03-06
L_SHIPINSTRUCT                 TAKE BACK RETURN
L_SHIPMODE                                  FOB
L_COMMENT        lyly regular accounts. slyly r

                                            98                      99
L_ORDERKEY                             1800101                 1800102
L_PARTKEY                               187360                    5546
L_SUPPKEY                                 4915                     547
L_LINENUMBER                                 2                       1
L_QUANTITY                                23.0                     5.0
L_EXTENDEDPRICE                       33289.28                  7257.7
L_DISCOUNT                                 0.1                    0.08
L_TAX                                     0.06                    0.06
L_RETURNFLAG                                 N                       R
L_LINESTATUS                                 O                       F
L_SHIPDATE                          1997-03-11              1994-10-21
L_COMMITDATE                        1997-04-16              1994-11-27
L_RECEIPTDATE                       1997-04-07              1994-10-31
L_SHIPINSTRUCT                TAKE BACK RETURN             COLLECT COD
L_SHIPMODE                               TRUCK                     FOB
L_COMMENT        eve furiously. carefully care  slyly ironic pinto bea

[16 rows x 100 columns]>

In [22]:
df.groupby(['L_SHIPMODE']).count()

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_COMMENT
L_SHIPMODE,,,,,,,,,,,,,,,
AIR,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
FOB,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
MAIL,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
RAIL,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
REG AIR,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
SHIP,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
TRUCK,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7

In [32]:
df.groupby(['L_SHIPMODE','L_SHIPINSTRUCT']).count()

                              L_ORDERKEY  L_PARTKEY  L_SUPPKEY  L_LINENUMBER  \
L_SHIPMODE L_SHIPINSTRUCT
AIR        COLLECT COD                 7          7          7             7
           DELIVER IN PERSON           2          2          2             2
           NONE                        2          2          2             2
           TAKE BACK RETURN            4          4          4             4
FOB        COLLECT COD                 7          7          7             7
           DELIVER IN PERSON           3          3          3             3
           NONE                        4          4          4             4
           TAKE BACK RETURN            2          2          2             2
MAIL       COLLECT COD                 3          3          3             3
           DELIVER IN PERSON           1          1          1             1
           NONE                        4          4          4             4
           TAKE BACK RETURN            2          2          2             2
RAIL       COLLECT COD                 4          4          4             4
           DELIVER IN PERSON           7          7          7             7
           NONE                        6          6          6             6
           TAKE BACK RETURN            6          6          6             6
REG AIR    COLLECT COD                 3          3          3             3
           DELIVER IN PERSON           4          4          4             4
           NONE                        4          4          4             4
           TAKE BACK RETURN            1          1          1             1
SHIP       COLLECT COD                 5          5          5             5
           DELIVER IN PERSON           3          3          3             3
           NONE                        3          3          3             3
           TAKE BACK RETURN            6          6          6             6
TRUCK      COLLECT COD                 2          2          2             2
           DELIVER IN PERSON           1          1          1             1
           NONE                        2          2          2             2
           TAKE BACK RETURN            2          2          2             2

                              L_QUANTITY  L_EXTENDEDPRICE  L_DISCOUNT  L_TAX  \
L_SHIPMODE L_SHIPINSTRUCT
AIR        COLLECT COD                 7                7           7      7
           DELIVER IN PERSON           2                2           2      2
           NONE                        2                2           2      2
           TAKE BACK RETURN            4                4           4      4
FOB        COLLECT COD                 7                7           7      7
           DELIVER IN PERSON           3                3           3      3
           NONE                        4                4           4      4
           TAKE BACK RETURN            2                2           2      2
MAIL       COLLECT COD                 3                3           3      3
           DELIVER IN PERSON           1                1           1      1
           NONE                        4                4           4      4
           TAKE BACK RETURN            2                2           2      2
RAIL       COLLECT COD                 4                4           4      4
           DELIVER IN PERSON           7                7           7      7
           NONE                        6                6           6      6
           TAKE BACK RETURN            6                6           6      6
REG AIR    COLLECT COD                 3                3           3      3
           DELIVER IN PERSON           4                4           4      4
           NONE                        4                4           4      4
           TAKE BACK RETURN            1                1           1      1
SHIP       COLLECT COD                 5                5           5      5
           DELIVER IN PERSON           3                3           3      3
           NONE                        3                3           3      3
           TAKE BACK RETURN            6                6           6      6
TRUCK      COLLECT COD                 2                2           2      2
           DELIVER IN PERSON           1                1           1      1
           NONE                        2                2           2      2
           TAKE BACK RETURN            2                2           2      2

                              L_RETURNFLAG  L_LINESTATUS  L_SHIPDATE  \
L_SHIPMODE L_SHIPINSTRUCT
AIR        COLLECT COD                   7             7           7
           DELIVER IN PERSON             2             2           2
           NONE                          2             2           2
           TAKE BACK RETURN              4             4           4
FOB        COLLECT COD                   7             7           7
           DELIVER IN PERSON             3             3           3
           NONE                          4             4           4
           TAKE BACK RETURN              2             2           2
MAIL       COLLECT COD                   3             3           3
           DELIVER IN PERSON             1             1           1
           NONE                          4             4           4
           TAKE BACK RETURN              2             2           2
RAIL       COLLECT COD                   4             4           4
           DELIVER IN PERSON             7             7           7
           NONE                          6             6           6
           TAKE BACK RETURN              6             6           6
REG AIR    COLLECT COD                   3             3           3
           DELIVER IN PERSON             4             4           4
           NONE                          4             4           4
           TAKE BACK RETURN              1             1           1
SHIP       COLLECT COD                   5             5           5
           DELIVER IN PERSON             3             3           3
           NONE                          3             3           3
           TAKE BACK RETURN              6             6           6
TRUCK      COLLECT COD                   2             2           2
           DELIVER IN PERSON             1             1           1
           NONE                          2             2           2
           TAKE BACK RETURN              2             2           2

                              L_COMMITDATE  L_RECEIPTDATE  L_COMMENT
L_SHIPMODE L_SHIPINSTRUCT
AIR        COLLECT COD                   7              7          7
           DELIVER IN PERSON             2              2          2
           NONE                          2              2          2
           TAKE BACK RETURN              4              4          4
FOB        COLLECT COD                   7              7          7
           DELIVER IN PERSON             3              3          3
           NONE                          4              4          4
           TAKE BACK RETURN              2              2          2
MAIL       COLLECT COD                   3              3          3
           DELIVER IN PERSON             1              1          1
           NONE                          4              4          4
           TAKE BACK RETURN              2              2          2
RAIL       COLLECT COD                   4              4          4
           DELIVER IN PERSON             7              7          7
           NONE                          6              6          6
           TAKE BACK RETURN              6              6          6
REG AIR    COLLECT COD                   3              3          3
           DELIVER IN PERSON             4              4          4
           NONE                          4              4          4
           TAKE BACK RETURN              1              1          1
SHIP       COLLECT COD                   5              5          5
           DELIVER IN PERSON             3              3          3
           NONE                          3              3          3
           TAKE BACK RETURN              6              6          6
TRUCK      COLLECT COD                   2              2          2
           DELIVER IN PERSON             1              1          1
           NONE                          2              2          2
           TAKE BACK RETURN              2              2          2

In [33]:
sql2 = 'select n.n_name, count(o.o_orderkey) as orders_total from snowflake_sample_data.tpch_sf1.customer c join snowflake_sample_data.tpch_sf1.orders o on c.c_custkey = o.o_custkey join snowflake_sample_data.tpch_sf1.nation n on c.c_nationkey = n.n_nationkey group by n.n_name order by orders_total desc'

res = conn.cursor().execute(sql2).fetchall()
df_nation = pd.read_sql(sql2, conn)

In [34]:
df_nation.head(5)

       N_NAME  ORDERS_TOTAL
0      FRANCE         61600
1      RUSSIA         61495
2   INDONESIA         61377
3  MOZAMBIQUE         61267
4     ROMANIA         61012